body{
  font-size: 10px;
  font-family: Georgia;
  text-transform: lowercase;
}

h1, h2, h3{
  font-family: 'Chewy', cursive;
  text-transform: none;
  display: block;
  padding: 15px;
  background-color: black;
  color: white;
  width: 130px;
}

.comingUp{
  width: 40%;
  padding: 2%;
  float: left;
  clear: right;
  margin-right: 10%;
}

.channels{
  width: 20%;
  padding: 2%;
  float: left;
  clear:right;
  height: 300px;
  overflow: auto;
}

.header{
  width: 170px;
  margin-left: 2%;
  border: 5px solid black;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
}